Package: openvino
Version: $VERSION-0$CODENAME
Section: devel
Priority: optional
Architecture: $ARCH
Depends: git,cmake,libusb-1.0-0-dev,libpugixml-dev
Maintainer: Ar-Ray-code <ray255ar@gmail.com>
Description: OpenVINO Cpp Runtime Package
